<div ng-init="$bkc.loadBookList()" class="main-site-container checkout-main-site-container">
    <div class="banner">
        <i id="logo" class="fa fa-book fa-2x" aria-hidden="true"></i>
        <h1 id="header" ng-click="$bkc.goHome()">XCDIFY OBS</h1>
        <i id="search-icon" class="fa fa-search " aria-hidden="true"></i><input id="search-bar" type="text"
            placeholder="search for books">
        <button class="cart"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></button>
        <button class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="genre-list">
        <ul>
            <li class="list-items-booklist list-items-lp">
                BOOK LIST
            </li>
        </ul>
    </div>
    <button class="add-book-btn all-btn-booklist" ng-click="$bkc.goToAddBook()">ADD A BOOK</button>
    <div class="book-data-table">
        <table class="data-table">
            <tr>
                <th class="booklist-tblheader">Book Name</th>
                <th class="booklist-tblheader">Category</th>
                <th class="booklist-tblheader">Author</th>
                <th class="booklist-tblheader">Publisher</th>
                <th class="booklist-tblheader">Price</th>
                <th class="booklist-tblheader">Action</th>
            </tr>
            <tr ng-repeat="book in $bkc.bookList">
                <td class="booklist-tbldata" ng-bind="book.BookName"></td>
                <td class="id-data booklist-tbldata" ng-bind="book.GenreName"></td>
                <td class="booklist-tbldata" ng-bind="book.BookAuthor"></td>
                <td class="booklist-tbldata" ng-bind="book.BookPublisher"></td>
                <td class="booklist-tbldata" ng-bind="book.BookPrice"></td>
                <td class="booklist-tbldata" id="edit-del"><i class="fa fa-pencil-square-o edit-delete-btn-booklist"
                        aria-hidden="true" ng-click="$bkc.editBook(book)"></i> <i
                        class="fa fa-trash-o edit-delete-btn-booklist" aria-hidden="true"
                        ng-click="$bkc.deleteBook(book)"></i></td>
            </tr>
        </table>
    </div>
</div>