<div ng-init="$coc.loadCheckout()" class="main-site-container checkout-main-site-container">
    <div class="banner">
        <i id="logo" class="fa fa-book fa-2x" aria-hidden="true"></i>
        <h1 id="header" ng-click="$coc.goHome()">XCDIFY OBS</h1>
        <i id="search-icon" class="fa fa-search " aria-hidden="true"></i><input id="search-bar" type="text"
            placeholder="search for books">
        <button class="cart all-btn"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></button>
        <button class="cart all-btn"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="genre-list">
        <ul>
            <li class="list-items-lp">
                CHECKOUT
            </li>
        </ul>
    </div>
    <div class="my-bag">
        <h2 class="bname-checkout">HERE'S WHAT'S IN YOUR CART</h2>
    </div>
    <div class="bag-items">
        <div class="book-cards-checkout">
            <div class="card-checkout" ng-repeat="item in $coc.cartItems">
                <img class="book-image-lp" ng-src="{{ item.thumb }}">
                <div class="book-summary-checkout">
                    <h2 class="bname-checkout" ng-bind="item.ItemName"></h2>
                    <h4 class="small-header-checkout" ng-bind="item.ItemAuthor">by</h4>
                    <h4 class="small-header-checkout" ng-bind="item.ItemPublisher">Publisher:</h4>
                    <p class="about-para-checkout" ng-bind="item.ItemAbout">About the book:</p>
                    <h2 id="book-price-checkout" ng-bind="item.ItemPrice">Rs.</h2>
                    <h4 id="quantity-label" >Quantity:</h4>
                    <div class="quant-count">
                        <i ng-click="$coc.itemQuantityInc(item.ItemBookId)" class="fa fa-plus quant" aria-hidden="true"></i>
                        <label class="quant" ng-bind="item.ItemQuantity"></label>
                        <i ng-click="$coc.itemQuantityDec(item.ItemBookId)" class="fa fa-minus quant" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-details">
        <table class="checkout-tbl" id="bag-details">
            <tr class="tbl-row-checkout">
                <td><b><u>Price Details</u></b></td>
            </tr>
            <tr class="tbl-row">
                <td>Bag Total:</td>
                <td ng-bind="$coc.bagTotal"></td>
            </tr>
            <tr class="tbl-row">
                <td>Bag Discount Percentage:</td>
                <td ng-bind="$coc.discount"></td>
            </tr>
            <tr class="tbl-row">
                <td>Tax Percentage:</td>
                <td ng-bind="$coc.tax"></td>
            </tr>
            <tr class="tbl-row">
                <td>Order Total:</td>
                <td ng-bind="$coc.orderTotal"></td>
            </tr>
            <tr class="tbl-row">
                <td>Delivery Charges:</td>
                <td ng-bind="$coc.deliveryCharges"></td>
            </tr>
            <tfoot>
                <tr class="tbl-row">
                    <td><b>TOTAL</b></td>
                    <td ng-bind="$coc.total"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <button class="all-btn-checkout" ng-click="$coc.proceedPayment()">PROCEED TO PAYMENT</button>