.list-items-addbook {
    display: inline;
    font-size: larger;
    font-weight: bolder;
    word-spacing: 5px;
    /* color: #413B89; */
    color: white;
    letter-spacing: 1px;
    position: relative;
    top: 35px;
}
.full-form-container {
    background-color: #E8E9F3;
    position: relative;
    top: 100px;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    height: 805px;
    text-align: center; 
    font-family: 'Alatsi';
}
.form-container {
    position: relative;
    top: 22px;
}
.add-book-details {
    display: grid;
    justify-content: center;
    line-height: 2.5;
}
.addbook-input {
    width: 550px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    text-align: center;
    font-family: 'Alatsi';
}
input[type="file"] {
    display: none;
}
.img-file-upload {
    padding-top: 6px;
    cursor: pointer;
}
.dropdown {
    width: 569px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-family: 'Alatsi';
    text-align-last:center;
    position: relative;
}
.addbook-textarea {
    width: 550px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    text-align: center;
    font-family: 'Alatsi';
}
.all-btn-addbook {
    position: relative;
    width: 285px;
    height: 50px;
    background-color: #544E95;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Alatsi';
}
.all-btn-addbook:hover {
    background-color:#413B89;
    color: white;
    box-shadow: -1px 7px 19px -6px rgba(0,0,0,0.75);
}
#submit-btn{
    position: relative;
    top: 29px;  
}
#reset-btn {
    position: relative;
    left: 288px;
    bottom: 21px;
}
#reset-btn:hover {
    background-color: #F74948;
}
.error-message {
    color: #F74948;
    font-size: 12px;
}