.list-items-booklist {
    word-spacing: 5px;
    font-family: 'Alatsi';
}
.book-data-table {
    position: relative;
    top: 100px;
    text-align: -webkit-center;
}
.booklist-tblheader, .booklist-tbldata {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;    
}
.booklist-tblheader {
    background-color: #544E95;
    color: white;
    text-align: center;
}
.data-table {
    border-collapse: collapse;
    width: 80%;
    table-layout: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.id-data {
    text-align: center;
}
#edit-del {
    word-spacing: 17px;
}
.edit-delete-btn-booklist:hover {
    cursor: pointer;
}
.all-btn-booklist {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: #544E95;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 10px;
    top: 20px;
    font-family: 'Alatsi';
}
.all-btn-booklist:hover {
    background-color:#413B89;
    color: white;
    box-shadow: -1px 7px 19px -6px rgba(0,0,0,0.75);
}
.add-book-btn {
    position: relative;
    left: 1045px;
    top: 50px;
}