/* .checkout-main-site-container {
    height: 100px;
} */
.my-bag {
    position: relative;
    top: 57px;
    left: 28px;
    color: #413B89;
}
.card-checkout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 650px;
    /* background-color: #F3E7DD; */
    background-color: #E8E9F3;
    position: relative;
    top: 0px;
    height: 297px;
    color: #413B89;
    border-radius: 10px;
}
.card-checkout:hover {
    box-shadow: -1px 7px 31px -7px rgba(0,0,0,0);
}
.book-cards-checkout {
    top: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 60px;
    position: relative;
    left: 87px;
    width: 1px;
}
.book-summary-checkout {
    left: 80px;
}
.checkout-details {
    position: relative;
    left: 778px;
    width: 530px;
    background-color: #E8E9F3;
    height: 415px;
    bottom: 900px;
    color: #413B89;
    border-radius: 10px;
}
#bag-details {
    width: 500px;
    line-height: 3;
    position: relative;
    left: 44px;
    top: 25px;
}
.tbl-row-checkout {
    text-align: left;
}
.all-btn-checkout {
    position: relative;
    width: 532px;
    height: 50px;
    background-color: #544E95;
    color: whitesmoke;
    left: 778px;
    bottom: 883px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Alatsi';
}
.all-btn-checkout:hover {
    background-color:#413B89;
    color: white;
}
.quant-count {
    position: relative;
    word-spacing: 15px;
    width: 100px;
    bottom: 68px;
    left: 288px;
    height: 29px;
    color: white;
    background-color: #413B89;
    border-radius: 10px;
    text-align: center;
}
.quant {
    position: relative;
    top: 4px;
}
#quantity-label {
    position: relative;
    bottom: 57px;
    left: 300px;
}
#book-price-checkout {
    position: relative;
    top: 25px;
}
.bag-items {
    position: relative;
    bottom: 77px;
    width: 50%;
    right: 65px;
}