body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* text-align: center; */
    /* background: rgba(181,231,231,1); */
    font-family: 'Alatsi';
    /* font-weight: lighter; */
    background-color: rgba(65,59,137,0.9);
}

.main-site-container {
    border-radius: 50px;
    background-color: white;
    width: 85%;
    height: 3000px;
    position: relative;
    left: 120px;
    top: 82px;
    box-shadow: -1px 7px 21px 1px rgba(0,0,0,0.75);
}
#logo {
    position: relative;
    top: 69px;
    right: 120px;
}
#header {
    position: relative;
    right: 105px;
    top: 48px;
    font-weight: 500;
    font-size: 28px;
}
#header:hover {
    cursor: pointer;
}
#search-icon {
    position: relative;
    top: 74px;
    left: 632px;
    z-index: 1;
}
.book-image-lp {
    width: 165px;
    height: 250px;
    border-style: solid;
    border-color:#413B89;
    position: relative;
    top: 21px;
    left: 15px;
}
.book-image-lp:hover {
    box-shadow: -1px 7px 31px -7px rgba(0,0,0,0.75);
}
.card-lp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 415px;
    /* background-color: #F3E7DD; */
    background-color: #E8E9F3;
    position: relative;
    top: 70px;
    height: 297px;
    color: #413B89;
    border-radius: 10px;
    /* box-shadow: -1px 7px 31px -7px rgba(0,0,0,0.75); */
}
.card-lp:hover {
    box-shadow: -1px 7px 31px -7px rgba(0,0,0,0.75);
}
#heart-btn {
    position: relative;
    color: #413B89;
    left: 65px;
    top: 25px;
}
#heart-btn:hover {
    color: #F74948;
}
.all-btn-lp {
    width: 100px;
    height: 35px;
    background-color: #E0CBB9;
    color: #413B89;
    font-family: 'Alatsi';
}
.all-btn-lp:hover {
    background-color: #B78876;
}
#book-price-lp {
    position: relative;
    bottom: 45px;
}
#search-bar {
    width: 652px;
    height: 9px;
    border-radius: 6px;
    padding: 16px;
    background-color: #F5F7F8;
    border-style: none;
    position: relative;
    font-family: 'Alatsi';
    text-align: center;
    font-size: 14px;
    top: 64px;
    right: 29px;
    font-weight: bolder;
    word-spacing: 2px;
}
.banner {
    border-radius: 0px 0px 10px 10px;
    /* background: rgba(39,68,157,0.95); */
    height: 150px;
    color: #413B89;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.cart {
    border-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    left: 132px;
    top: 60px;
    color: #413B89;
}
.cart:hover {
    background-color: rgba(65,59,137,1);
    color: white;
}
.cart-noti {
    color: black;
    background-color: red;
}
.genre-list {
    /* background-color: #F3E7DD; */
    background-color: rgba(65,59,137,0.9);
    height: 100px;
    text-align: center;
    box-shadow: -1px 7px 19px -6px rgba(0,0,0,0.75);
    width: 100%;
    position: relative;
    /* right: 17px; */
}
.list-items-lp {
    display: inline;
    font-size: larger;
    font-weight: bolder;
    word-spacing: 41px;
    /* color: #413B89; */
    color: white;
    letter-spacing: 1px;
    position: relative;
    top: 35px;
    right: 30px;
}
.list-items-lp:hover {
    color: #413B89;
    cursor: pointer;
}
.book-cards-lp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 60px;
    /* grid-column-gap: 5px; */
    position: relative;
    left: 14px;
}
.book-summary-lp {
    position: relative;
    top: 5px;
}
.small-header-lp {
    position: relative;
    bottom: 20px;
    right: 55px;
    font-weight: 500;
}
.bname-lp {
    position: relative;
    right: 55px;
}
.about-para-lp {
    font-size: 13px;
    width: 195px;
    position: relative;
    bottom: 33px;
    right: 55px;
    opacity: 0.5;
}
.about-para-lp:hover {
    opacity: 1;
}
.shopping-cart-btn { 
    width: 255px;
    color: #413B89;
    position: relative;
    display: grid;
    left: 194px;
    bottom: 45px;
    grid-template-columns: 100px 100px;
    align-content: center;
    /* background-color: #F3E7DD; */
    grid-column-gap: 0px;
}
.buy-button-lp {
    border-radius: 10px;
    width: 90px;
    height: 22px;
    font-size: 16px;
    background-color: #E8E9F3;
    border: white;
    position: relative;
    bottom: 4px;
}
.buy-button-lp:hover {
    color: white;
    background-color: #413B89;
}
.cart-notification {
    background-color: #F74948;
    border-radius: 50px;
    height: 20px;
    width: 27px;
    color: white;
    text-align: center;
    position: absolute;
    right: 82px;
    top: 56px;
}