.main-body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* text-align: center; */
    /* background: rgba(181,231,231,1); */
    font-family: 'Alatsi';
    /* font-weight: lighter; */
    background-color: rgba(65,59,137,0.9);
}
