<div ng-init="$abc.loadAddBook()" class="main-site-container checkout-main-site-container">
    <div class="banner">
        <i id="logo" class="fa fa-book fa-2x" aria-hidden="true"></i>
        <h1 id="header">XCDIFY OBS</h1>
        <i id="search-icon" class="fa fa-search " aria-hidden="true"></i><input id="search-bar" type="text"
            placeholder="search for books">
        <button class="cart all-btn"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></button>
        <button class="cart all-btn"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="genre-list">
        <ul>
            <li class="list-items-addbook">
                ADD YOUR BOOK
            </li>
        </ul>
    </div>
    <div class="full-form-container">
        <div class="form-container">
            <form id="addBook" method="get" class="add-book-details" name="bookDetailsForm" novalidate>
                <label>Genre: </label>
                <select class="dropdown" id="genre" name="genre" ng-model="$abc.newBook.CategoryGenre"
                    ng-options="category.CategoryGenre for category in $abc.category">
                </select>

                <label for="book-name">Book Name*</label>
                <input ng-model="$abc.newBook.BookName" name="bookName" class="addbook-input" id="book-name" type="text"
                    placeholder="Enter the name of the book" required>
                <span class="error-message"
                    ng-show="bookDetailsForm.bookName.$dirty && bookDetailsForm.bookName.$invalid">
                    <span ng-show="bookDetailsForm.bookName.$error.required">Book name is required</span>
                </span>

                <label for="file-upload" class="img-file-upload">
                    <i class="fa fa-cloud-upload"></i> Upload your Book Cover
                </label>
                <input class="addbook-input" id="file-upload" type="file">

                <label for="author-name">Auhor Name*</label>
                <input ng-model="$abc.newBook.BookAuthor" class="addbook-input" name="authorName" id="author-name" type="text"
                    placeholder="Enter the name of the author" required>
                <span class="error-message"
                    ng-show="bookDetailsForm.authorName.$dirty && bookDetailsForm.authorName.$invalid">
                    <span ng-show="bookDetailsForm.authorName.$error.required">Author name is required</span>
                </span>

                <label for="publisher">Publisher*</label>
                <input ng-model="$abc.newBook.BookPublisher" class="addbook-input" name="publisherName" id="publisher"
                    type="text" placeholder="Enter the name of the publisher" required>
                <span class="error-message"
                    ng-show="bookDetailsForm.publisherName.$dirty && bookDetailsForm.publisherName.$invalid">
                    <span ng-show="bookDetailsForm.publisherName.$error.required">Book Publisher Name is required</span>
                </span>

                <label for="book-price-admin">How much is your book for?*</label>
                <input ng-model="$abc.newBook.BookPrice" class="addbook-input" name="bookAmount" id="book-price-admin"
                    type="text" placeholder="Enter your book price" required>
                <span class="error-message"
                    ng-show="bookDetailsForm.bookAmount.$dirty && bookDetailsForm.bookAmount.$invalid">
                    <span ng-show="bookDetailsForm.bookAmount.$error.required">Book Price is required</span>
                </span>

                <label for="about-the-book">About:</label>
                <textarea ng-model="$abc.newBook.BookAbout" class="addbook-textarea" name="aboutBook" id="about-the-book"
                    type="text" placeholder="Enter something about the book" rows="10" cols="10" required></textarea>
                <button class="all-btn-addbook"
                    ng-disabled="bookDetailsForm.bookName.$dirty && bookDetailsForm.bookName.$invalid" type="submit"
                    id="submit-btn" ng-click="$abc.updateBookList($abc.newBook)">Submit</button>
                <button class="all-btn-addbook" type="reset" id="reset-btn">Reset</button>
            </form>
        </div>
    </div>