<div ng-init="$lpc.bookStoreUser()" class="main-site-container">

    <div class="banner">
        <i id="logo" class="fa fa-book fa-2x" aria-hidden="true"></i>
        <h1 id="header">XCDIFY OBS</h1>
        <i id="search-icon" class="fa fa-search " aria-hidden="true"></i><input id="search-bar" type="text"
            placeholder="search OBS" ng-model="search">
        <button class="cart all-btn"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></button>
        <button class="cart all-btn" ng-click="$lpc.goToCheckout()"><i class="fa fa-shopping-cart fa-2x"
                aria-hidden="true"></i></button>
        <span class="cart-notification" ng-bind="$lpc.count"></span>
    </div>
    <div class="main-container">
        <div class="genre-list">
            <ul>
                <li class="list-items-lp" ng-repeat="category in $lpc.category" ng-click="$lpc.genreBookList(category.CategoryId)">
                    <span ng-bind="category.CategoryGenre"></span>
                </li>
            </ul>
        </div>
        <div class="book-cards-lp">
            <div class="card-lp" ng-repeat="book in $lpc.bookList | filter: search">
                <img class="book-image-lp" ng-src="{{ book.thumb }}">
                <div class="book-summary-lp">
                    <h2 class="bname-lp" ng-bind="book.BookName"></h2>
                    <h4 class="small-header-lp" ng-bind="book.BookAuthor">by </h4>
                    <h4 class="small-header-lp" ng-bind="book.BookPublisher">Publisher: </h4>
                    <p class="about-para-lp" ng-bind="book.BookAbout"><b>About the book:</b></p>
                    <h2 class="bname-lp" id="book-price-lp" ng-bind="book.BookPrice"></h2>
                </div>
                <div class="shopping-cart-btn">
                    <button class="buy-button-lp all-btn-lp" ng-click="$lpc.addToCart(book)">Add to Cart</button>
                    <i id="heart-btn" class="fa fa-gratipay fa-2x" aria-hidden="true"></i>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>